<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titles.title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
<body>
    <div class="container text-bg-light p-3 mt-3 border">
        <h1>My Diary</h1>
    </div>
    <ul class="nav justify-content-center h2 mt-3">
        <li class="nav-item">
          <a class="nav-link"href="/main">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"href="/showPost">POST</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">개인정보수정</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">LogOut</a>
        </li>
        
      </ul>
    <%- body %>
</body>
</html>