<div class="container mt-3">
    <h1>게시글 쓰기</h1>
    <form action="writePost" method="POST" class="h3">
        <div class="mb-3">
            <label for="title" class="form-label mt-5">제목</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" id="content" name="content" rows="10" placeholder="내용을 입력하세요"></textarea>
          </div>
          <input type="submit" class="btn btn-success btn-lg" value="작성하기">
          <a href="/main" class="btn btn-danger btn-lg">목록보기</a>
    </form>
</div>